body {
    font-family: "Roboto", sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.form-content {
    width: 30%;
    border: black solid 1px;
    border-radius: 10px;
    padding: 12px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input[type="text"],
input[type="email"],
input[type="url"],
select,
textarea {
    margin: 3px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    margin: 3px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

select,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 6px;
    color: #555;
}

p {
    color: #777;
}